<div class="row">
  <div class="col-md-6">
    <div class="input-group flex-nowrap" style="min-width: 80px">
      <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
      <div class="input-group-prepend">
        <span class="input-group-text" id="addon-wrapping"><i class="bi bi-search"></i></span>
      </div>
    </div>
  </div>

  <div class="col-md-4 text-end">
    <div class="row">
      <div class="col-md-10 text-end">
        <span>Bonjour {{currentUser.nom}} &nbsp;{{currentUser.prenom}}</span>
      </div>
      <div class="col-md-2">
        <a href="javascript :void" [routerLink]="['profil']"><img [src]="currentUser.photo? currentUser.photo :'assets/user.png'" class="rounded-circle" width="80px" height="80px"/></a>
      </div>
    </div>
  </div>
</div>


