<div class="row mb-1 mr-0 custom-border">
  <div class="col-md-3 border-right">
    <div class="col">
      <div class="row">
        <div class="col-11 text-center mb-1 mt-1">Code article</div>
      </div>
    </div>
  </div>

  <div class="col-md-3 border-right">
    <div class="row">
      <div class="col-md-12 text-center mb-1 mt-1">
        Désignation article
      </div>
    </div>
  </div>
  <div class="col-md-2 border-right">
    <div class="row">
      <div class="col-md-12 text-center mb-1 mt-1">
       6
      </div>
    </div>
  </div>
  <div class="col-md-2 border-right">
    <div class="row">
      <div class="col-md-12 text-center mb-1 mt-1">
        12.6
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="row">
      <div class="col-md-12 text-center mb-1 mt-1">
        4700
      </div>

    </div>
  </div>
</div>


