
<div class="row mb-1 m-2">
  <div class="row mt-3">
    <div class="col-md-8 ">
      <h3>Commande {{origine}}</h3>
    </div>
    <div class="col-md-4 text-end mb-2">
      <app-boutton-actions (clickEvent)="nouvelleCommande()"></app-boutton-actions>
    </div>
  </div>

  <div class="accordion" *ngFor="let order of orders" id="accordionExample{{order.id}}">
    <div class="accordion-item" >
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapseOne'+order.id" aria-expanded="false" aria-controls="collapseOne">
          <div class="col m-3">
            <app-details-cmd-frs [commandeItem]="order"  [origine]="origine"></app-details-cmd-frs>
          </div>
        </button>
      </h2>
      <div id="collapseOne{{order.id}}" class="accordion-collapse collapse show" [attr.data-bs-target]="'#accordionExample'+order.id">
        <div class="accordion-body">
          <app-detail-commande *ngFor="let entry of mapLigneCommandes.get(order.id)" [cltFrsItem]="entry">
          </app-detail-commande>
        </div>

        <div class="card-footer">
          <div class="row">
            <div class="col-md-6 bi-text-left">
              <h5>{{mapLigneCommandes.get(order.id).length}} Articles commandés.</h5>
            </div>
            <div class="col-md-6 text-end">
              <h5>Total commande: {{mapOrderTotalPrice.get(order.id)}} </h5>
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>

    <div class="row m-3">
      <div class="col-md-12 text-center">
        <app-pagination></app-pagination>
      </div>
    </div>

  </div>

