<div class="row mb-1 mr-0 custom-border">
  <div class="col-md-3 border-right">
    <div class="col">
      <div class="row">
        <div class="col-11 text-center mb-1 mt-1">08-06-2023</div>
      </div>
    </div>
  </div>

  <div class="col-md-3 border-right">
      <div class="row">
        <div class="col-md-12 text-center mb-1 mt-1">
          <h5>456</h5>
        </div>
      </div>
  </div>
  <div class="col-md-3 border-right">
    <div class="row">
      <div class="col-md-12 text-center mb-1 mt-1">
        <h5>Sortie</h5>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="row">
      <div class="col-md-12 text-center mb-1 mt-1">
        <h5>COMMANDE_CLIENT</h5>
      </div>

    </div>
  </div>
</div>


