<div class="col">

    <div class="col-md-12 m-3" >
      <button (click)="fileInput.click()" style="background: transparent;border: none">
        <img [src]="imgUrl" class="rounded-circle" width="100px" height="100px"/>
        <input type="file"  hidden="true" #fileInput (change)="onFileInput(fileInput.files)">
      </button>
    </div>

<hr>
  <div class="col-md-12 m-3">
    <h2><i class="bi bi-info-circle blue-color"></i> &nbsp;Information de l'article</h2>
  </div>

  <div class="col-md-11 m-3">
    <div class="alert alert-danger" *ngIf="errorsMsg.length > 0">
      <span *ngFor="let msg of errorsMsg">{{msg}}</span>
    </div>
    <form>
      <div class="row mb-3">
        <div class="col">
          <input type="text" class="form-control" name="codeArticle" placeholder="Code article"  [(ngModel)] ="articleForm.codeArticle">
        </div>
        <div class="col">
          <input type="text" class="form-control" name="designation" placeholder="Désignation"  [(ngModel)]="articleForm.designation">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input type="text" class="form-control" name="prixUnitaireHt" placeholder="Prix unitaire HT" (input)="computePriceTtc()"  [(ngModel)]="articleForm.prixUnitaireHt">
        </div>
        <div class="col">
          <input type="text" class="form-control"name="tauxTva" placeholder="Taux TVA" (input)="computePriceTtc()" [(ngModel)]="articleForm.tauxTva">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input type="text" class="form-control" name="prixUnitaireTtc" placeholder="Prix unitaire TTC" [(ngModel)]="articleForm.prixUnitaireTtc" readonly="true">
        </div>
        <div class="col">
          <select class="form-select" name="catId"  [(ngModel)]="catogoryForm.id">
            <option selected>Selectionner votre categorie</option>
            <option value="1" *ngFor="let cat of listeCategories" [value]="cat.id">{{cat.code}} &nbsp; {{cat.designation}}</option>
          </select>
        </div>
      </div>
    </form>
  </div>

  <div class="col-md-11 text-end m-3">
    <button type="button" class="btn btn-danger mr-3" (click)="cancel()">
      <i class="bi bi-x-circle"></i> &nbsp;Annuler</button>
    <button type="button" class="btn btn-primary" (click)="registrationArticle()">
      <i class="bi bi-box-arrow-down"></i> &nbsp;Enregistrer</button>
  </div>

</div>
