<div class="container my-container">
  <div class="card justify-content-md-center">
    <div class="card-header text-center">
      <h2>Incription</h2>
    </div>

    <div class="card-body">
      <div class="alert alert-danger" *ngIf="errorsMsg.length > 0">
        <div *ngFor="let msg of errorsMsg">
          <span>{{msg}}</span>
        </div>
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Nom" [(ngModel)] = "entrepriseDto.nom">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control"  placeholder="Code fiscal" [(ngModel)] = "entrepriseDto.codeFiscal">
      </div>
      <div class="mb-3">
        <input type="email" class="form-control"  placeholder="Email" [(ngModel)] = "entrepriseDto.email">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control"  placeholder="Adresse 1" [(ngModel)] = "adresseDto.adresse1">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control"  placeholder="Adresse 2" [(ngModel)] = "adresseDto.adresse2">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control"  placeholder="Ville" [(ngModel)] = "adresseDto.ville">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control"  placeholder="Code postal" [(ngModel)] = "adresseDto.codePostale">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control"  placeholder="Pays" [(ngModel)] = "adresseDto.pays">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control"  placeholder="Description" [(ngModel)] = "entrepriseDto.description">
      </div>
      <div class="mb-3">
      <input type="number" class="form-control"  placeholder="numéro de téléphone" [(ngModel)] = "entrepriseDto.numTel">
    </div>

      <div class="mb-3 d-flex justify-content-between">
        <a [routerLink]="['/login']"  class="btn btn-link">Se connecter</a>
        <button type="button" class="btn btn-primary" (click)="registration()" >
          <i class="fas fa-check"></i> &nbsp; S'inscrirer</button>

      </div>
    </div>
  </div>
</div>

