<div class="col">
  <div class="col-md-12">
    <img src="assets/user.png" class="rounded-circle" width="100px" height="100px"/>
  </div>
  <hr>
  <div class="col-md-12 m-3">
    <h2><i class="bi bi-info-circle blue-color"></i> &nbsp;Information de l'utilisateur</h2>
  </div>

  <div class="col-md-11 m-3">
    <form>
      <div class="row mb-3">
        <div class="col">
          <input type="text" class="form-control" placeholder="Nom" aria-label="Nom">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Adresse1" aria-label="Adresse1">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input type="text" class="form-control" placeholder="Prenom" aria-label="Prenom">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Adresse2" aria-label="Adresse2">
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <input type="email" class="form-control" placeholder="Email" aria-label="Email">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Ville" aria-label="Ville">
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <input type="text" class="form-control" placeholder="Phone number" aria-label="Phone number">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Code postal" aria-label="Code postal">
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          &nbsp;
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Pays" aria-label="Pays">
        </div>
      </div>

    </form>
  </div>

  <div class="col-md-11 text-end m-3">
    <button type="button" class="btn btn-danger mr-3" style="white-space: normal;" (click)="cancel()">
      <i class="bi bi-x-circle"></i> &nbsp;Annuler</button>
    <button type="button" class="btn btn-primary">
      <i class="bi bi-box-arrow-down"></i> &nbsp;Enregistrer</button>
  </div>

</div>
